/*URL*/
//$url: "/img/";
$url: "//www.gomlab.com/gomlab_v2/ui/gommarket/img/";

/*Hashing*/
$version: "?v=1";

$min_width1: 1130px;
$min_width2: 1280px;
$max_width1: 100%;
$max_width2: 1920px;


/*Font 및 Color*/
$family: "Malgun Gothic", "맑은 고딕", dotum, "돋음",'AppleGothic', 'Arial', 'Meiryo', 'sans-serif';
$bold: bold;
$white: #ffffff;
$black: #333;
$color1: #999;
$color2: #F9F4F0;
$color3: #bbb;
$color4: #DEDEDE;
$color5: #F5F5F5;
$point: #FF4352;
$loadbg: #f7f7f7;